:root {
  --primary-color: #385170;
  --secondary-color: #ffcbcb;
}

.intro {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  font-size: 60px;
  font-family: "Nunito", sans-serif;
}
p {
  text-align: center;
  margin: 0;
}
.project {
  color: var(--primary-color);
  padding-top: 20px;
}
body {
  background-color: var(--secondary-color);
}
.ankara-link {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.ankara-page {
  font-size: 35px;
  text-align: center;
}
.my-project {
  font-size: 40px;
}
